'atom-text-editor':
  'alt-a'       : 'super-select:chars-1'
  'alt-s'       : 'super-select:string'
  'alt-d'       : 'super-select:brackets'
  'alt-/'       : 'super-select:forward-slash'
  'alt-\\'      : 'super-select:backslash'
  'ctrl-alt-\\' : 'super-select:double-backslash'

'atom-text-editor[data-grammar~="less"], atom-text-editor[data-grammar~="css"]':
  'alt-a': 'super-select:chars-2'

'atom-text-editor[data-grammar~="latex"]':
  'alt-a': 'super-select:chars-3'

'atom-text-editor[data-grammar~="sofistik"]':
  'alt-a': 'super-select:chars-4'
